@model IEnumerable<Clinic.Models.Entites.Doctor>

@{
    ViewData["Title"] = "getall";
}

<h1>getall</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specialty)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialty)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Doctorid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Doctorid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
