@model IEnumerable<Clinic.Models.Entites.Patient>

@{
    ViewData["Title"] = "getallPatient";
}

<h1>getallPatient</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Patientname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Patientname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Patientid">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Patientid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
